@import '../../assets/styles/variables';

.flag {
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
    background-color: $bg-color-flags;
    color: $color-white;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    &:not(:last-of-type) {
        margin-right: 5px;
    }
}