$bg-color-primary: #3D61FF;
$bg-color-flags: #1565C0;
$bg-color-point-section: #6BC5BC;
$bg-color-content: #F7F7F7;
$bg-color-white: #FFF;
$bg-color-cf-status: #D0021B;

$border-color: #BCC1DC;
$border-radius-input: 5px; 
$border-radius-btn: 4px; 
$border-radius-points: 3px; 
$border-radius-section: 2px; 


$color-title-header: #6B7DEA;
$color-title-h2: #7F7F7F;
$color-text-links: #1565C0;
$color-white: #FFF;
$color-input-label: #595959;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;
